@font-face {
    font-family: retrocool;
    src: url(RetroCool-Regular.woff);
}

body {
    text-align: center;
    background-color:beige;
    font-family: retrocool;
}

h1 {
    font-size: 40px;
}

.square {
    margin: 0;
    padding: 0;
    height: 23px;
    width: 23px;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    border: solid black .5px;
}

/* will be used to make each grid element grey by replacing its class 
eit this one */
.greySquare {
    border: solid black .5px;
    margin: 0;
    padding: 0;
    height: 23px;
    width: 23px;
    background-color: grey;
}
#container {
    margin: auto;
    align-content: center; /*gets rid of weird gaps between grid elements */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;

}