body {
    text-align: center;
    background-color:beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.square {
    height: 5vw;
    width: 5vw;
    border: solid black 1px;
}

#container {
    display: flex;
    justify-content: center;
    height: 60vw;
    height: 60vw;
}