@font-face {
    font-family: retrocool;
    src: url(RetroCool-Regular.woff);
}

body {
    height: 90vh;
    text-align: center;
    background-color:rgb(192, 183, 152);
    font-family: retrocool;
    padding: 0;
    justify-content: center;

}

.container {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    border-radius: 10px;
    background-color: rgb(221, 29, 67);
}

body, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 700px;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 29, 67);
    border-radius: 10px 10px 0 0;
}

h1 {
    font-size: 40px;
    color: rgb(250, 248, 107);
}

.square {
    box-sizing: border-box;     /* makes box sizing consistent and take up the proper space */
    
}

/* will be used to make each grid element grey by replacing its class 
eit this one */
.greySquare {
    box-sizing: border-box;
    background-color: grey;
}


#inner-container {
    /* border: solid rgb(221, 29, 67);
    border-width: 10px 50px 0; */
    background-color: aliceblue;
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    box-shadow: inset 0px 0px 5px 3px grey;
    border-radius: 10px;
}

#button-bar {
    width: 680px;
    height: 90px;
    align-items: center;
    background-color: rgb(221, 29, 67);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    border-radius: 0 0 10px 10px;
}

.circle {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.71);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 2px;
}
